* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: black;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    color: white;
}

.row > div {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    
}

.displayHeight {
    flex: 0.7 !important;
}

.container > div {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.Display {
    flex:9;
    background: #565658;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 4rem;
    padding: 1.5rem 2rem;
}

.display {
    flex: 9;
    background: #565658;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    font-size: 2.5rem;
    padding: 1.5rem 2rem;
    color: rgba(255, 255, 255, 0.733);
}

.exception {
    flex: 2 !important;
}

.bg-shadow {
    flex: 1;
    background: #7D7D7F;
    border: 1px solid #565658;
    border-collapse: collapse;
}

.bg-dark-shadow {
    flex: 1;
    background: #636567;
    border: 1px solid #565658;
    border-collapse: collapse;
}

.bg-orange {
    flex: 1;
    background: #FF9C38;
    border: 1px solid #565658;
    border-collapse: collapse;
}

.bg-dark-shadow:active, .bg-shadow:active, .bg-orange:active{
    background: #6365676e;
}
